/* src/components/Footer.css */
:root {
  --primary-color: #ff9a00;
  --lighter-primary-color: #ffbd59;
  --secondary-color: #c8c0c0;
  --dark-color: #000000;
  --white-color: #fff;
  --light-font-color: #454545;
  --font-style: "inter", sans-serif;
}

* {
  font-family: var(--font-style);
  color: var(--dark-color);
}

.footer {
  background-color: var(--lighter-primary-color);
  padding: 2rem;
  color: #fff;
  margin: 0;
}

p {
  color: var(--light-font-color);
  font-weight: 600;
}
.footer .socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer .socials .images {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.footer .socials img {
  width: 24px;
  height: auto;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.footer-content div {
  flex: 1;
}

.footer .location p {
  white-space: pre-wrap;
  text-transform: capitalize;
}
