:root {
  --primary-color: #ff9a00;
  --secondary-color: #c8c0c0;
  --ash-white: #e6dfdf;
  --dark-color: #000000;
  --white-color: #fff;
  --max-img-height: 80vh;
  --font-style: "inter", sans-serif;
}

* {
  font-family: var(--font-style);
}

body,
html {
  /* height: 100vh; */ /*TODO: don't uncomment this learn */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ash-white);
}

.auth-container {
  display: flex;
  max-width: 800px; /* Adjust based on your design */
  width: 100%;
  background-color: var(--secondary-color);
  padding: 0;
  margin: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.auth-container .form-image {
  & img {
    height: 100%;
  }
}

.auth-container .form-container {
  width: 50vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;

  & .headers {
    display: flex;
    justify-content: start;
    align-items: baseline;
    gap: 30px;

    & .main {
      color: var(--primary-color);
      font-size: 30px;
      font-weight: 600;
    }
  }

  & .form-input {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    & input {
      width: 20vw;
      border: none;
      border-bottom: 2px solid var(--dark-color);
      padding: 12px;
      background-color: transparent;
    }

    & input::placeholder {
      color: var(--dark-color);
      font-size: medium;
    }
  }

  & .form-input input[type="password"] {
    margin-bottom: 20px;
  }

  & button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    font-weight: 700;
    background-color: var(--dark-color);
    color: var(--white-color);
    border-radius: 5px;
  }

  & .divider-container {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }

  & .divider-line {
    flex-grow: 1;
    height: 1px;
    background-color: #888888;
    margin: 0 10px;
  }

  & .divider-text {
    white-space: nowrap;
    color: #888888;
    font-size: 14px;
  }

  & .google-login {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    padding: 10px;
    background: var(--white-color);
    border-radius: 5px;
  }
}
